{
   "swagger":"2.0",
   "info":{
      "description":"Traduction CastorToLegacyou LegacyToCastor",
      "version":"1.0",
      "title":"api-catalogue-ws swagger",
      "contact":{
         
      },
      "license":{
         "url":"http://unlicense.org"
      }
   },
   "host":"api-catalogue.xtst.ms.fcm",
   "basePath":"/api-catalogue/v1",
   "tags":[
      {
         "name":"translate-api-controller",
         "description":"the translate API"
      }
   ],
   "paths":{
      "/translate/{type}":{
         "post":{
            "tags":[
               "translate"
            ],
            "summary":"permet la traduction d un contrat au format LEGACY en code CASTOR ou inversement",
            "description":"permet la traduction d un contrat au format LEGACY (paramètre \"legacy\") ou au format CASTOR (paramètre \"castor)",
            "operationId":"translateTypePost_1",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"body",
                  "name":"installedContract",
                  "description":"Liste des InstalledContract à traduire passés dans le body",
                  "required":true,
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/InstalledContract"
                     }
                  }
               },
               {
                  "name":"type",
                  "in":"path",
                  "description":"le format d arrivée de la traduction (castor pour demande un flux en code castor, legacy pour demande un flux en legacy)",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"La liste de contrats traduits",
                  "schema":{
                     "$ref":"#/definitions/InstalledContractResponse"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "400":{
                  "description":"Le code 400 est renvoyé - si l'un des paramètres d'entrée n'est pas valide.",
                  "schema":{
                     "$ref":"#/definitions/ErrorMessage"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Le code 404 est renvoyé - si l'enregistrement n'existe pas",
                  "schema":{
                     "$ref":"#/definitions/ErrorMessage"
                  }
               },
               "503":{
                  "description":"Le code 503 est retourné - si la base de données ne répond pas.",
                  "schema":{
                     "$ref":"#/definitions/ErrorMessage"
                  }
               }
            },
            "deprecated":false
         }
      }
   },
   "definitions":{
      "AlterationSpecification":{
         "type":"object",
         "properties":{
            "alterationSpecificationCode":{
               "type":"string"
            },
            "alterationType":{
               "type":"string"
            },
            "isRecurring":{
               "type":"boolean"
            },
            "label":{
               "type":"string"
            },
            "percentage":{
               "type":"integer",
               "format":"int32"
            },
            "unit":{
               "type":"string"
            },
            "validFor":{
               "$ref":"#/definitions/ValidFor"
            },
            "value":{
               "type":"number",
               "format":"double"
            },
            "valueIncludingTax":{
               "type":"number",
               "format":"double"
            },
            "vatCode":{
               "type":"string"
            }
         },
         "title":"AlterationSpecification"
      },
      "BillingAccount":{
         "type":"object",
         "required":[
            "billingAccountID"
         ],
         "properties":{
            "billingAccountID":{
               "type":"string"
            }
         },
         "title":"BillingAccount"
      },
      "CommercialClassification":{
         "type":"object",
         "required":[
            "code",
            "label",
            "type"
         ],
         "properties":{
            "code":{
               "type":"string"
            },
            "label":{
               "type":"string"
            },
            "type":{
               "type":"string"
            }
         },
         "title":"CommercialClassification"
      },
      "CommercialOperation":{
         "type":"object",
         "properties":{
            "commercialOperationType":{
               "type":"string",
               "enum":[
                  "add",
                  "change",
                  "remove"
               ]
            }
         },
         "title":"CommercialOperation"
      },
      "Commitment":{
         "type":"object",
         "properties":{
            "durationChosen":{
               "type":"string"
            },
            "endDate":{
               "type":"string",
               "format":"date",
               "description":"Date de fin au format RFC3339 avec secondes"
            },
            "localAmount":{
               "type":"string"
            },
            "localDelay":{
               "type":"string"
            },
            "localDelayDay":{
               "type":"string"
            },
            "localDelayMonth":{
               "type":"string"
            },
            "startDate":{
               "type":"string",
               "format":"date",
               "description":"Date de début au format RFC3339 avec secondes"
            },
            "trigger":{
               "type":"string"
            }
         },
         "title":"Commitment"
      },
      "ContractSpecification":{
         "type":"object",
         "required":[
            "label",
            "offerSpecificationCode"
         ],
         "properties":{
            "commercialClassifications":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/CommercialClassification"
               }
            },
            "label":{
               "type":"string"
            },
            "offerSpecificationCode":{
               "type":"string"
            }
         },
         "title":"ContractSpecification"
      },
      "ErrorMessage":{
         "type":"object",
         "required":[
            "code",
            "message"
         ],
         "properties":{
            "code":{
               "type":"string"
            },
            "description":{
               "type":"string"
            },
            "infoUrl":{
               "type":"string"
            },
            "message":{
               "type":"string"
            }
         },
         "title":"ErrorMessage",
         "description":"Message d'erreur"
      },
      "InstProductCharacteristicValue":{
         "type":"object",
         "required":[
            "value"
         ],
         "properties":{
            "localLabel":{
               "type":"string"
            },
            "localLastChangeDate":{
               "type":"string",
               "format":"date",
               "description":"Date de dernier changement au format RFC3339 avec secondes"
            },
            "productSpecCharacteristic":{
               "$ref":"#/definitions/ProductSpecCharacteristic"
            },
            "value":{
               "type":"string"
            }
         },
         "title":"InstProductCharacteristicValue"
      },
      "InstalledAtomicOffer":{
         "type":"object",
         "required":[
            "installedOfferID",
            "installedProducts"
         ],
         "properties":{
            "commercialClassifications":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/CommercialClassification"
               }
            },
            "commercialOperations":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/CommercialOperation"
               }
            },
            "installedOfferID":{
               "type":"string"
            },
            "installedOfferStatus":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/InstalledOfferStatus"
               }
            },
            "installedProducts":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/InstalledProduct"
               }
            },
            "installedTariffs":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/TariffSpecification"
               }
            },
            "label":{
               "type":"string"
            },
            "localCreationDate":{
               "type":"string",
               "format":"date",
               "description":"Date de création au format RFC3339 avec secondes"
            },
            "localModificationDate":{
               "type":"string",
               "format":"date",
               "description":"Date de modification au format RFC3339 avec secondes"
            },
            "offerSpecificationCode":{
               "type":"string"
            },
            "organization":{
               "$ref":"#/definitions/Organization"
            },
            "person":{
               "$ref":"#/definitions/Person"
            },
            "productSpecifications":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/ProductSpecification"
               }
            }
         },
         "title":"InstalledAtomicOffer"
      },
      "InstalledContract":{
         "type":"object",
         "required":[
            "billingAccount",
            "childrenInstalledOffers",
            "installedOfferID",
            "installedOfferStatus",
            "installedPublicKeys",
            "localCreationDate",
            "localModificationDate"
         ],
         "properties":{
            "billingAccount":{
               "$ref":"#/definitions/BillingAccount"
            },
            "childrenInstalledOffers":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/InstalledPlay"
               }
            },
            "commercialClassifications":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/CommercialClassification"
               }
            },
            "commercialOperations":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/CommercialOperation"
               }
            },
            "commitments":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/Commitment"
               }
            },
            "installedOfferID":{
               "type":"string"
            },
            "installedOfferStatus":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/InstalledOfferStatus"
               }
            },
            "installedPublicKeys":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/InstalledPublicKey"
               }
            },
            "label":{
               "type":"string"
            },
            "localCommitmentExcluded":{
               "type":"boolean"
            },
            "localCreationDate":{
               "type":"string",
               "format":"date",
               "description":"Date de création au format RFC3339 avec secondes"
            },
            "localModificationDate":{
               "type":"string",
               "format":"date",
               "description":"Date de modification au format RFC3339 avec secondes"
            },
            "localRIO":{
               "type":"string"
            },
            "offerSpecificationCode":{
               "type":"string"
            }
         },
         "title":"InstalledContract"
      },
      "InstalledContractResponse":{
         "type":"object",
         "properties":{
            "installedContract":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/InstalledContract"
               }
            }
         },
         "title":"InstalledContractResponse"
      },
      "InstalledOfferStatus":{
         "type":"object",
         "required":[
            "isCurrentStatus",
            "localTechnicalStatusReason",
            "startDate",
            "statusCode",
            "statusReason"
         ],
         "properties":{
            "isCurrentStatus":{
               "type":"boolean"
            },
            "localTechnicalStatusReason":{
               "type":"string"
            },
            "startDate":{
               "type":"string",
               "format":"date",
               "description":"Date de début au format RFC3339 avec secondes"
            },
            "statusCode":{
               "type":"string",
               "enum":[
                  "initialised",
                  "inorder",
                  "suspended",
                  "removed"
               ]
            },
            "statusReason":{
               "type":"string"
            }
         },
         "title":"InstalledOfferStatus"
      },
      "InstalledPlay":{
         "type":"object",
         "required":[
            "childrenInstalledOffers",
            "commercialClassifications",
            "installedOfferStatus",
            "parentOfferSpecRoles"
         ],
         "properties":{
            "childrenInstalledOffers":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/InstalledAtomicOffer"
               }
            },
            "commercialClassifications":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/CommercialClassification"
               }
            },
            "installedOfferID":{
               "type":"string"
            },
            "installedOfferStatus":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/InstalledOfferStatus"
               }
            },
            "label":{
               "type":"string"
            },
            "localCreationDate":{
               "type":"string",
               "format":"date",
               "description":"Date de création au format RFC3339 avec secondes"
            },
            "localModificationDate":{
               "type":"string",
               "format":"date",
               "description":"Date de modification au format RFC3339 avec secondes"
            },
            "offerSpecificationCode":{
               "type":"string"
            },
            "parentOfferSpecRoles":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/ParentOfferSpecRole"
               }
            }
         },
         "title":"InstalledPlay"
      },
      "InstalledProduct":{
         "type":"object",
         "required":[
            "instProductCharacteristicValues",
            "installedProductID"
         ],
         "properties":{
            "instProductCharacteristicValues":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/InstProductCharacteristicValue"
               }
            },
            "installedProductID":{
               "type":"string"
            },
            "localCreationDate":{
               "type":"string",
               "format":"date",
               "description":"Date de création au format RFC3339 avec secondes"
            },
            "localModificationDate":{
               "type":"string",
               "format":"date",
               "description":"Date de création au format RFC3339 avec secondes"
            },
            "productSpecification":{
               "$ref":"#/definitions/ProductSpecification"
            }
         },
         "title":"InstalledProduct"
      },
      "InstalledPublicKey":{
         "type":"object",
         "required":[
            "installedPublicKeyID",
            "productSpecCharacteristic"
         ],
         "properties":{
            "installedPublicKeyID":{
               "type":"string"
            },
            "productSpecCharacteristic":{
               "$ref":"#/definitions/ProductSpecCharacteristic"
            },
            "value":{
               "type":"string"
            }
         },
         "title":"InstalledPublicKey"
      },
      "Organization":{
         "type":"object",
         "required":[
            "organizationName",
            "partyExternalIdentification",
            "partyID"
         ],
         "properties":{
            "organizationName":{
               "$ref":"#/definitions/OrganizationName"
            },
            "partyExternalIdentification":{
               "$ref":"#/definitions/PartyExternalIdentification"
            },
            "partyID":{
               "type":"string"
            },
            "partyRoles":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/PartyRole"
               }
            }
         },
         "title":"Organization"
      },
      "OrganizationName":{
         "type":"object",
         "properties":{
            "brand":{
               "type":"string"
            },
            "tradingName":{
               "type":"string"
            }
         },
         "title":"OrganizationName"
      },
      "ParentOfferSpecRole":{
         "type":"object",
         "required":[
            "parent"
         ],
         "properties":{
            "parent":{
               "$ref":"#/definitions/ContractSpecification"
            }
         },
         "title":"ParentOfferSpecRole"
      },
      "PartyExternalIdentification":{
         "type":"object",
         "properties":{
            "externalOwnerPartyID":{
               "type":"string"
            },
            "partyExternalID":{
               "type":"string"
            }
         },
         "title":"PartyExternalIdentification"
      },
      "PartyRole":{
         "type":"object",
         "properties":{
            "partyRoleID":{
               "type":"string"
            }
         },
         "title":"PartyRole"
      },
      "Person":{
         "type":"object",
         "required":[
            "partyExternalIdentification",
            "partyID",
            "partyName",
            "partyRoles"
         ],
         "properties":{
            "birthDate":{
               "type":"string",
               "format":"date",
               "description":"Date de naissance au format RFC3339 avec secondes"
            },
            "partyExternalIdentification":{
               "$ref":"#/definitions/PartyExternalIdentification"
            },
            "partyID":{
               "type":"string"
            },
            "partyName":{
               "$ref":"#/definitions/PersonName"
            },
            "partyRoles":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/PartyRole"
               }
            }
         },
         "title":"Person"
      },
      "PersonName":{
         "type":"object",
         "properties":{
            "firstName":{
               "type":"string"
            },
            "lastName":{
               "type":"string"
            },
            "salutation":{
               "type":"string"
            }
         },
         "title":"PersonName"
      },
      "ProductSpecCharacteristic":{
         "type":"object",
         "required":[
            "productSpecCharCode"
         ],
         "properties":{
            "name":{
               "type":"string"
            },
            "productSpecCharCode":{
               "type":"string"
            }
         },
         "title":"ProductSpecCharacteristic"
      },
      "ProductSpecification":{
         "type":"object",
         "required":[
            "productSpecificationCode"
         ],
         "properties":{
            "label":{
               "type":"string"
            },
            "productSpecificationCode":{
               "type":"string"
            }
         },
         "title":"ProductSpecification"
      },
      "TariffSpecValue":{
         "type":"object",
         "properties":{
            "unit":{
               "type":"string"
            },
            "value":{
               "type":"number",
               "format":"double"
            },
            "valueIncludingTax":{
               "type":"number",
               "format":"double"
            }
         },
         "title":"TariffSpecValue"
      },
      "TariffSpecification":{
         "type":"object",
         "required":[
            "tariffSpecificationCode"
         ],
         "properties":{
            "installedAlterations":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/AlterationSpecification"
               }
            },
            "isRecurring":{
               "type":"boolean"
            },
            "tariffSpecValue":{
               "$ref":"#/definitions/TariffSpecValue"
            },
            "tariffSpecificationCode":{
               "type":"string"
            },
            "vatCode":{
               "type":"string"
            }
         },
         "title":"TariffSpecification"
      },
      "ValidFor":{
         "type":"object",
         "properties":{
            "endDateTime":{
               "type":"string",
               "format":"date",
               "description":"Date de fin au format RFC3339 avec secondes"
            },
            "startDateTime":{
               "type":"string",
               "format":"date",
               "description":"Date de début au format RFC3339 avec secondes"
            }
         },
         "title":"ValidFor"
      }
   }
}