<?xml version="1.0" encoding="UTF-8"?>


<!-- ===================================================================== -->
<!-- -->
<!-- log-back Configuration -->
<!-- -->
<!-- ===================================================================== -->
<configuration scan="true" scanPeriod="15 seconds">

	<property name="LOGS" value="${LOG_PATH}" />
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<!-- ================================= -->
	<!-- Preserve messages in a local file -->
	<!-- ================================= -->
	<appender name="Console"
	        class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>


	<!-- A time/date based rolling appender -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		 <file>${LOGS}/enabler-crm.log</file>
		<encoder
            class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %-5r %-5p [%c] \(%t\) %msg%n</Pattern>
        </encoder>

		<rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/enabler-crm-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
	</appender>

	<appender name="SUPERVISION"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/supervision.log</file>
        <encoder
            class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>

	<!-- Rollover at the top of each hour <param name="DatePattern" value="'.'yyyy-MM-dd-HH"/> -->
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/supervision-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>


	<!-- ================ -->
	<!-- Limit categories -->
	<!-- ================ -->

	<!-- com.orangecaraibe: DEBUG, but for a few classes/packages -->
	<logger  name="com.orangecaraibe" level="debug" additivity="false">
		<appender-ref ref="Console" />
		<appender-ref ref="FILE" />
	</logger >
	<logger name="com.orangecaraibe.enabler.crm" level="debug" additivity="false">
		<appender-ref ref="Console" />
		<appender-ref ref="FILE" />
	</logger>
	
	<logger name="com.orangecaraibe.soa.catalogue.dao.impl.CatalogueDaoImpl" level="debug" additivity="false">
		<appender-ref ref="Console" />
		<appender-ref ref="FILE" />
	</logger>

	<!-- Logger hibernate pour les info BBD -->
	<logger name="org.hibernate.SQL" level="info" additivity="false">
		<appender-ref ref="Console" />
		<appender-ref ref="FILE" />
	</logger>

	<logger name="org.hibernate.type" level="warn" additivity="false">
		<appender-ref ref="Console" />
		<appender-ref ref="FILE" />
	</logger>

	<logger name="org.springframework" level="info" additivity="false">
		<appender-ref ref="Console" />
		<appender-ref ref="FILE" />
	</logger>

	<logger name="org.apache" level="info" additivity="false">
		<appender-ref ref="Console" />
		<appender-ref ref="FILE" />
	</logger>
	<logger name="org.jgroups" level="info" additivity="false">
		<appender-ref ref="Console" />
		<appender-ref ref="FILE" />
	</logger>		

	<logger name="org.quartz" level="info" additivity="false">
		<appender-ref ref="Console" />
		<appender-ref ref="FILE" />
	</logger>
	
	<logger name="org" level="info" additivity="false">
		<appender-ref ref="Console" />
		<appender-ref ref="FILE" />
	</logger>
	
	<logger name="com" level="debug" additivity="false">
		<appender-ref ref="Console" />
		<appender-ref ref="FILE" />
	</logger>
	
	<logger name="com.orangecaraibe.enabler.services" level="debug" additivity="false">
		<appender-ref ref="SUPERVISION" />
	</logger>
	
	<!-- ================ -->
	<!-- Root logger -->
	<!-- ================ -->
	<root level="debug">
		<appender-ref ref="Console" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
